bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.PollySample/.idea/.idea.PollySample.iml

.idea/.idea.PollySample/.idea/contentModel.xml

.idea/.idea.PollySample/.idea/modules.xml

.idea/.idea.PollySample/.idea/projectSettingsUpdater.xml

.idea/.idea.PollySample/.idea/workspace.xml
